<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="{% url 'dll-info' %}" method="post">
            {% csrf_token %}
            <p style="padding-bottom: 5px;">
                在 API call invocation reporting system 資料庫中，擁有蒐集自 MSDN 以及<br>
                各網站的 Windows Dll 資訊，在此頁面可透過輸入 Dll name 來列出資料<br>
                庫內的 Dll information，例如：該 Dll 用途的簡要說明
            </p>
            <input type="text" name="name" value="advapi32.dll">
            <input type="submit" value="Submit">
        </form>

        {% if dll %}
            <table style="padding-top: 10px;">
                <tr>
                    <th>Dll Name:</th>
                    <td>{{ dll.name }}</td>
                </tr>
                <tr>
                    <th>說明:</th>
                    <td>
                        {% if dll.remark %}
                            {{ dll.remark }}
                        {% else%}
                            No information about this dll.
                        {% endif%}
                    </td>
                </tr>
            </table>
        {% endif %}
        {% if no_result%}
            <p>No results.</p>
        {% endif%}
    </div>
</body>
</html>