<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>
            根據資料庫中所蒐集的 sample 的 all_API call execution traces 進行<br>
            統計，依照被 load 的 dll 的頻率進行 ranking，目的是了解哪些 dll<br>
            最經常被使用，以下為頻率最高至最低的 ranking:<br>
        </p>
        <table>
            <tr>
                <th>Ranking</th>
                <th>DLL</th>
                <th>Frequency</th>
            </tr>
            {% for dll in frquency_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ dll.0 }}</td>
                    <td style="text-align: center;">{{dll.1}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>