<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>
            最常被 load 的 Dll:<br>
        </p>
        <table>
            <tr>
                <th>Ranking</th>
                <th>DLL</th>
                <th>Frequency</th>
            </tr>
            {% for dll in frquency_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ dll.0 }}</td>
                    <td style="text-align: center;">{{dll.1}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>