<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="/winapi/api-info">API info page</a>
                <p style="margin:0px;">顯示 API 資訊</p>
            </li>
            <li>
                <a href="/winapi/dll-info">Dll info page</a>
                <p style="margin:0px;">顯示 Dll 資訊</p>
            </li>
            <li>
                <a href="/winapi/search">Search page</a>
                <p style="margin:0px;">搜尋用到特定 DLL/API 的 samples</p>
            </li>
            <li>
                <a href="/winapi/frequent-dll">Frequency page</a>
                <p style="margin:0px;">列出最常被 load 的 dll ranking </p>
            </li>
        </ul>
    </div>
</body>
</html>