<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="padding-left: 20px;">
        <form action="{% url 'search-info' %}" method="post">
            {% csrf_token %}
            <p style="padding-bottom: 10px;">
                此頁面將根據所有 sample 的 all_API call execution traces 進行統計，<br>
                能夠列出所有用到特定 DLL/API 的 samples（以其 SHA256 表示），<br>
                目的是幫助了解 API/DLL 被 sample 所使用的情形<br>
                功能說明：<br>
                (1) 給定一 Dll，能夠列出哪些 sample load 過該 Dll<br>
                (2) 給定一 API，能夠列出哪些 sample invoke 過該 API<br>
            </p>
            <select name="type">
                <option value="Dll">DLL</option>
                <option value="API">API</option>
            </select>
            <input type="text" name="name">
            <input type="submit" value="Submit">
        </form>

        <p>
            {% if samples %}
                {% if model_name == 'Dll' %}
                    Samples who used to load {{ data.name }} are:<br>
                {% else%}
                    Samples who used to invoke {{ data.name }} are:<br>
                {% endif %}

                {% for sample in samples %}
                    {{ sample.sha256 }} <br>
                {% endfor %}
            {% endif%}
            {% if no_result%}
                <p>No results.</p>
            {% endif%}
        </p>

    </div>
</body>
</html>